[core]
	quotepath = false
	excludesfile = /Users/igor/.gitignore_global
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
[user]
	name = Igor Descayrac
	email = igor.descayrac@gmail.com
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	current-branch = rev-parse --abbrev-ref HEAD
	publish = !git push -u origin `git current-branch`
	patch = add -p
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	com = checkout master
	newb = checkout -b
	wip = commit -am '--wip-- [skip ci]'
	pop = reset HEAD^
	rekt = checkout -- .
	bruv = branch -vv
	bd = branch -d
	bD = branch -D
	ci = commit
	s = status --porcelain
	rbim = rebase --interactive origin/master
	watch = !watch -t -c git -c color.status=always status
	shove = push --force-with-lease
	diffnames= diff --name-only
	history= log --full-diff -p
	touched= ls-files --modified --other --exclude-standard
[color]
	ui = auto
[color "diff-highlight"]
  oldNormal    = "red bold"
  oldHighlight = "red bold 52"
  newNormal    = "green bold"
  newHighlight = "green bold 22"
[color "diff"]
  meta       = "yellow"
  frag       = "magenta bold"
  commit     = "yellow bold"
  old        = "red bold"
  new        = "green bold"
  whitespace = "red reverse"
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[instaweb]
	httpd = webrick
[push]
	default = current
[pull]
	rebase = true
