[core]
	quotepath = false
	excludesfile = /Users/igor/.gitignore_global
	autocrlf = input
[user]
	name = Igor Descayrac
	email = igor.descayrac@gmail.com
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	current-branch = rev-parse --abbrev-ref HEAD
	publish = !git push -u origin `git current-branch`
	patch = add -p
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	wip = commit -am 'WIP'
	pop = reset HEAD^
	br = branch -vv
	ci = commit
	s = status
[color]
	ui = auto
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[instaweb]
	httpd = webrick
[push]
	default = current
[pull]
	rebase = true
